#dateform{
    margin-left: 200px;
    letter-spacing: 1px;

}


select {
    width: 150px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

input {
    width: autho;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}


label:hover {
    background: #eee;
    cursor: pointer;
}

.form {
    border: 2px inset #000000;
    padding: 10px;
    background: rgba(192, 192, 192, 0.24);
    font-family: serif;
    font-size: 16pt; /* Размер шрифта в пунктах */
    letter-spacing: 1px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.button {
    border-radius: 7px;
    transition: .2s linear;
}

.button_1 {
    padding: 5px;
    font-size: 12pt;
    border-radius: 20px;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}

.button_1:hover {
    background: rgba(184, 201, 160, 0.14);

}

.button_1:active {
    background: rgb(246, 246, 244);
}


.grid {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-auto-rows: repeat(6, 40px);
    grid-gap: 50px;
}


.grid > * {
    /*дизайн*/
    margin: 2px;
    align-items: center;
}

.master_windows {
    border: 2px inset #2b2d29;
    border-radius: 10px;
    padding-left: 17px;
    background: rgba(46, 52, 35, 0.24);
    font-family: serif;
    font-size: 12pt; /* Размер шрифта в пунктах */
    width: 480px;
    height: auto; /* Размеры */

}


.master_windows input[type=radio] {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: -1;
}

.master_windows input[type=radio]:disabled ~ label{
    opacity: 0.5;
    cursor: auto;
    background-color: rgba(24, 28, 18, 0.14);
}



.master_windows label {
    cursor: pointer;
    user-select: none;
}

.master_windows label {
    /*background: rgba(163, 205, 90, 0.14);*/
    padding: 10px;
    background-color: white;
    border: 2px solid darkgreen;
    font-family: serif;
    border-radius: 30px;
    text-align: center;
}

.master_windows input[type=radio]:checked ~ label {
    background-color: rgb(187, 183, 96);
}


