<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
</head>
<body>
<form action="/registration" , method="post" , class="form-contact">
    <p><label>Имя: </label></p> <input type="text" name="first_name" value="" required/>
    <p><label>Фамилия: </label></p> <input type="text" name="second_name" value="" required/>
    <p><label>Логин: </label></p> <input type="text" name="login" value="" required/>
    <p><label>Номер паспорта: </label></p> <input type="text" name="passport_number" value="" required/>
    <p><label>Пол: </label></p> <input type="text" name="gender" value="" required/>
    <p><label>Возраст: </label></p> <input type="text" name="age" value="" required/>
    <p><label>Пароль: </label></p> <input type="password" name="password1" value="" required/>
    <p><label>Подтверждение пароля: </label></p> <input type="password" name="password2" value="" required/>
    <p><input type="submit" value="Регистрация"></p>
</form>
</body>
</html>